@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

/* manrope font  */


body{
    font-family: "Manrope", sans-serif;
}


/* custom classes  */
.my_container {
    @apply max-w-screen-2xl container mx-auto px-2 sm:px-10 md:px-8
}

.my_h2 {
    @apply text-xl md:text-2xl lg:text-4xl md:leading-snug font-bold
}

.my_h3 {
    @apply text-xl md:text-2xl lg:text-3xl md:leading-tight font-bold
}

.my_h4 {
    @apply text-xs md:text-xl font-bold
}

.my_h5 {
    @apply text-xs md:text-sm font-bold
}

.small_card_title {
    @apply text-sm font-semibold
}

.small_card_sub_title {
    @apply text-xs font-normal
}

.small_card_sub_title2 {
    @apply text-xs font-normal text-black
}
.small_card_des {
    @apply text-[11px] font-normal
}

.active_menu_item {
    @apply bg-gray-300 font-bold

}

.active_link {
    @apply text-black font-bold

}

/* .gradient-text-bp {
	background-image: linear-gradient(
		to right,
		#A6C8F2,
		#D99A9A
	); 
	-webkit-background-clip: text; 
	-webkit-text-fill-color: transparent;
} */

.my-gradient-text-btn {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-[#A6C8F2] to-[#dc8080] font-semibold text-[14px]
}

.my-gradient-text-logo {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-[#A6C8F2] to-[#D99A9A] font-extrabold
}