@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

/* manrope font  */


body{
    font-family: "Manrope", sans-serif;
}

#navbar {
    height: 4rem !important;
    min-height: 4rem;
  }


/* custom classes  */
.my_container {
    @apply max-w-screen-2xl container mx-auto px-2 sm:px-10 md:px-8
}

.my_h2 {
    @apply text-xl md:text-2xl lg:text-4xl md:leading-snug font-bold
}

.my_h3 {
    @apply text-xl md:text-2xl lg:text-3xl md:leading-tight font-bold
}

.my_h4 {
    @apply text-sm md:text-xl font-bold
}

.my_h5 {
    @apply text-xs md:text-sm font-bold
}

.small_card_title {
    @apply text-sm font-semibold
}

.small_card_sub_title {
    @apply text-xs font-normal
}

.small_card_sub_title2 {
    @apply text-xs font-normal text-black
}
.small_card_des {
    @apply text-[11px] font-normal
}

.form_label_heading{
     @apply text-xs md:text-base font-semibold
}

.form_input_heading{
    @apply text-xs md:text-base
}




.active_menu_item {
    @apply bg-gray-300 font-bold

}

.active_link {
    @apply text-black font-bold

}

/* .gradient-text-bp {
	background-image: linear-gradient(
		to right,
		#A6C8F2,
		#D99A9A
	); 
	-webkit-background-clip: text; 
	-webkit-text-fill-color: transparent;
} */

.my-gradient-text-btn {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-[#A6C8F2] to-[#dc8080] font-semibold text-[14px]
}

.my-gradient-text-logo {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-[#A6C8F2] to-[#D99A9A] font-extrabold
}









.motionx_btn {
	@apply bg-slate-800 text-white uppercase font-semibold rounded-lg text-[13px] px-4 py-2
}

.motionx_lg_btn {
	@apply bg-slate-800 text-white uppercase font-bold rounded-lg text-[14px] px-4 py-3
}

.motionx_bg_black{
	@apply bg-slate-800
}



/* custom word spacing  */
.word-space-1 {
word-spacing: 0.25rem;
}
.word-space-2 {
word-spacing: 0.50rem; 
}

.word-space-3 {
word-spacing: 0.75rem;
}